## Deliverable 3. Create a Travel Itinerary Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Vaini,TO,82.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
1,4,Makakilo City,US,79.12,clear sky,21.3469,-158.0858,Marriott's Ko Olina Beach Club
2,7,Bengkulu,ID,77.92,light rain,-3.8004,102.2655,Grage Hotel Bengkulu
3,8,Buchanan,LR,79.07,clear sky,5.8808,-10.0467,Kamaneahn Hotel Inc
4,11,Puerto Colombia,CO,80.69,broken clouds,10.9878,-74.9547,Hotel El Emigrante
...,...,...,...,...,...,...,...,...
137,529,Maumere,ID,83.34,broken clouds,-8.6199,122.2111,Sylvia Hotel
138,531,Kavaratti,IN,82.36,clear sky,10.5669,72.6420,Hotels in Lakshadweep Islands
139,538,Galveston,US,75.22,mist,29.3669,-94.9669,Crystal Suites
140,539,Nelson Bay,AU,76.75,overcast clouds,-32.7167,152.1500,Mantra Nelson Bay
141,541,Brandon,US,77.32,clear sky,27.9378,-82.2859,Embassy Suites by Hilton Tampa Brandon

In [7]:
vacation_df.count()

City_ID                142
City                   142
Country                142
Max Temp               142
Current Description    142
Lat                    142
Lng                    142
Hotel Name             132
dtype: int64

In [9]:
clean_hotel_df= vacation_df.dropna()

In [11]:
clean_hotel_df.count()

City_ID                132
City                   132
Country                132
Max Temp               132
Current Description    132
Lat                    132
Lng                    132
Hotel Name             132
dtype: int64

In [12]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt><b>Hotel Name<b></dt><dd>{Hotel Name}</dd>
<dt><b>City<b></dt><dd>{City}</dd>
<dt><b>Country<b></dt><dd>{Country}</dd>
<dt><b>Current Weather<b></dt><dd> {Current Description} and {Max Temp} °F</dd>
</dl>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations , info_box_content= hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Customer wanted to visit cities in Turkey 
vacation_country= clean_hotel_df.loc[clean_hotel_df["Country"]=="MX"]
vacation_country

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,25,Salina Cruz,MX,81.28,clear sky,16.1667,-95.2000,Amerik HOTEL
13,37,Coahuayana,MX,81.88,clear sky,18.7333,-103.6833,El rranchito michuacan de ocampos
47,182,Puerto Escondido,MX,81.43,broken clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
83,318,Pochutla,MX,81.82,clear sky,15.7432,-96.4661,Hotel Posada San Jose
100,364,Ixtapa,MX,76.23,clear sky,20.7000,-105.2000,hotel la terminal
101,366,Acapulco,MX,78.62,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
132,495,Armeria,MX,81.70,clear sky,18.9333,-103.9667,Hotel la Herradura

In [15]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Acapulco"]
vacation_end   = vacation_df.loc[vacation_df["City"]=="Acapulco"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Puerto Escondido"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Pochutla"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Salina Cruz"]

In [16]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start   = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end     = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1   = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2   = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3   = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]
start

(16.8634, -99.8901)

In [17]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
directions = gmaps.directions_layer(start,end, waypoints=[stop1,stop2,stop3],travel_mode = "DRIVING")
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,366,Acapulco,MX,78.62,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
1,182,Puerto Escondido,MX,81.43,broken clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
2,318,Pochutla,MX,81.82,clear sky,15.7432,-96.4661,Hotel Posada San Jose
3,25,Salina Cruz,MX,81.28,clear sky,16.1667,-95.2000,Amerik HOTEL

In [19]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather </dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""


# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(40.0, 41.0), zoom_level=1.5 , layout={'height': '700px'})
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info )
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='700px'))